#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

/* Quiz component reset CSS */

input[type="text"],
input,
textarea {
	background: none;
	border: none;
	outline: none;
	resize: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

/* Quiz components custom CSS */

::-webkit-scrollbar{
    display: none !important;
  }

.quizDiv textarea,
.quizDiv button {
	display: block;
	margin-top: 10px;
}

.submitContainer,
.resultContainer {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}

#adjInput,
#expInput {
	width: 80vw;
	max-width: 1200px;
	height: 60px;
	font-size: 30pt;
	border-bottom: rgba(255, 255, 255, 0.5) 2px solid;
}

.submitBtn,
.resultBtn {
	display: flex !important;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

input::placeholder {
	font-size: 25pt;
	color: rgba(255, 255, 255, 0.5) !important;
}

#resultText,
#listInput {
	width: 80vw;
	max-width: 1200px;
	min-height: 400px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
	padding: 20px;
	resize: none;
}